<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section>
        <article>
          <form action="">
            <input
              type="text"
              name="Nombre"
              id=""
              placeholder="Nombre y Apellido"
            />
            <input
              type="text"
              name="Username"
              id=""
              placeholder="Nombre de Usuario"
            />
            <input type="text" name="email" id="" placeholder="E-mail" />
            <label for="">Fecha de nacimiento</label>
            <input type="date" id="birthday" min="2000-5-20" max="18-7-2023" />
            <input
              type="text"
              name="domicilio"
              id=" "
              placeholder="Domicilio"
            />
            <div>
              <label for="">Perfil del Usuario</label>
              <input type="radio" name="Profile" id="Comprador" />
              <label for="Comprador">Comprador</label>
              <input type="radio" name="Profile" id="Vender" />
              <label for="Vendedor">Vendedor</label>
            </div>
            <h2>Categorias de Interes</h2>
            <input type="checkbox" name="Preferences" id="Electro" />
            <label for="Electro">Electro</label>
            <input type="checkbox" name="Preferences" id="Moda" />
            <label for="Moda">Moda</label>
            <input type="checkbox" name="Preferences" id="Hogar" />
            <label for="Hogar">Hogar</label>
            <input type="checkbox" name="Preferences" id="Juegueteria" />
            <label for="Juegueteria">Juegueteria</label>
            <input type="checkbox" name="Preferences" id="Vida-sana" />
            <label for="Vida-sana">Vida Sana</label>
            <h2>Foto de Usuario</h2>
            <input type="file" name="avatar" accept=".jpg" multiple />
            <input
              type="password"
              name="Password"
              id="Password"
              placeholder="Contraseña"
            />
            <input
              type="password"
              name="Password-confirm"
              id="Password-confirm"
              placeholder="Confirmar Contraseña"
            />
            <input type="submit" />
            <input type="reset" name="" id="" />
          </form>
        </article>
      </section>
    </main>
  </body>
</html>
