*{padding: 0px;
margin: 0px;
box-sizing: border-box;}

form{display: flex;
flex-direction: column;
width: 60vw;
border-radius: 5px;}

.register, .sumbit{padding: 5px;
  margin: 20px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 0px;}

  .sumbit{background-color: #1259c3;
color: white;}