* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.center {
  text-align: center;
  justify-content: center;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo,
.search {
  width: 50%;
}

.logo {
  padding: 25px;
}

.search {
  border: 0px;
  padding: 5px;
  height: 45px;
  border-radius: 5px;
  background: white;
  display: flex;
}

.search input {
  padding: 5px;
  width: 90%;
  border: 0px;
}

.search button {
  width: 10%;
  border: 0px;
  background: white;
}

.search button i {
  background: white;
  color: #666;
}

nav {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  font-size: 90%;
}

nav ul li {
  list-style: none;
  margin: 5px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.burger-menu {
  color: white;
  font-size: 25px;
  margin: 20px;
  display: block;
}

.fa-bars {
  background-color: #1259c3;
  border: 12px solid #1259c3;
  border-radius: 5px;
  display: block;
}

/* Body */

body {
  background: #eac926;
  font-family: roboto;
}

main {
  background: #ebebeb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  width: 90vw;
}

section>h2 {
  font-size: 24px;
  margin: 20px 0px;
  color: #666;
  font-weight: 700;
}

article {
  display: flex;
  flex-wrap: wrap;
}

.articulo-container {
  background: #ffffff;
  margin-bottom: 10px;
}

.articulo-container>p {
  font-size: 16px;
}

.articulo {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  position: relative;
}

img {
  width: 100%;
}

.fa-truck {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.descuento {
  color: #39b54a;
}

.descripcion {
  display: none;
}

/* Footer */

footer {
  width: 100vw;
  padding: 10px;
  background-color: white;
}

.footer-icon {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

footer>div {
  margin: 25px;
}

.copyright {
  background-color: #1259c3;
  color: white;
  padding: 5px;
}

/* Responsive */

/* tablet */
@media (min-width: 480px) {
  .articulo-container {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  header {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .logo {
    padding: 0px;
  }

  header p {
    font-size: 1rem;
  }

  .logo,
  .search,
  header p {
    width: 30%;
  }

  nav {
    display: flex;
  }

  .burger-menu {
    display: none;
  }

  .descripcion {
    display: block;
  }

  .articulo-container {
    width: 40vw;
  }

  article {
    justify-content: space-evenly;
  }
}

/* desktop */
@media (min-width: 769px) {
  nav {
    display: flex;
  }

  .burger-menu {
    display: none;
  }

  .descripcion {
    display: none;
  }

  .articulo-container {
    width: 20vw;
    box-shadow: none;
  }


  footer {
    display: flex;
    flex-direction: row;
  }

  .articulo-container:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .fa-truck:hover {
    transform: rotate(270deg);
  }

  .articulo:hover>p {
    display: block;
  }
}